[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XEmeraldia
Exec=xemeraldia
Icon=xemeraldia.xpm
Terminal=false
Categories=Game;BlocksGame;
